
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic);

body{
  font-family:'Open Sans';
}
h1{
  font-size:30pt;
  font-weight:800;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.max-width{
  max-width:1100px;
}


.repubs:hover, .dems:hover{
  opacity:.7;
}

.short-dem, .tall-dem{
  opacity:0;
}

g.dems:hover .short-dem {
  opacity:1;
  fill:black;
}

g.dems:hover .tall-dem{
  opacity:1;
  fill:white;
}

.short-repub, .tall-repub{
  opacity:0;
}

g.repubs:hover .short-repub {
  opacity:1;
  fill:black;
}

g.repubs:hover .tall-repub{
  opacity:1;
  fill:white;
}

.append{
  border: solid 1px #eee;
  border-bottom: solid 1px #ccc;
  padding:20px;
}


p{
  font-size:15pt;
  text-align:left;
}

.tiny-text{
  font-size:10pt;
  margin-top:-5pt;
}

.strong{
  font-weight:bold;
}

footer{
  text-align:center;
}
